<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383185691730-0nukooeialjbitcm3dcaf01m1jleh5en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383185691730-0nukooeialjbitcm3dcaf01m1jleh5en</string>
	<key>API_KEY</key>
	<string>AIzaSyDGjrH5AefGJo2SAQkPly7MJC8I1a266AU</string>
	<key>GCM_SENDER_ID</key>
	<string>383185691730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>datum-1llvxm</string>
	<key>STORAGE_BUCKET</key>
	<string>datum-1llvxm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383185691730:ios:5c01608f3f98d17a452b8b</string>
</dict>
</plist>